@using MyWebProject.Infrastructure.Data.Models
@model AddMobilePhoneFromModels
@{
    ViewData["Title"] = "Add Phone";
}

<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <h2>Add Phone</h2>
            <div class="mb-3">
                <label asp-for="Brand" class="form-label">Name</label>
                <input asp-for="Brand" class="form-control" id="formGroupExampleInput" placeholder="Write down the name of the phone.">
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control" id="formGroupExampleInput2" placeholder="Write down the price of the phone.">
            </div>
            <div class="mb-3">
                <label asp-for="DisplaySizeInch" class="form-label">DisplaySizeInch</label>
                <input asp-for="DisplaySizeInch" class="form-control" id="formGroupExampleInput2" placeholder="Write down the inches of the phone.">
            </div>
            <div class="mb-3">
                <label asp-for="DisplaySizeCm" class="form-label">DisplaySizeCm</label>
                <input asp-for="DisplaySizeCm" input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Write down cantimeters of the phone.">
            </div>
            <div class="mb-3">
                <label asp-for="DisplayType" class="form-label">DisplayType</label>
                <input asp-for="DisplayType" class="form-control" id="formGroupExampleInput2" placeholder="Write down the type of the display.">
            </div>
            <div class="mb-3">
                <label asp-for="Ram" class="form-label">Ram</label>
                <input asp-for="Ram" class="form-control" id="formGroupExampleInput2" placeholder="How much ram does the phone have?">
            </div>
            <div class="mb-3">
                <label asp-for="Resolution" class="form-label">Resolution</label>
                <input asp-for="Resolution" class="form-control" id="formGroupExampleInput2" placeholder="What is the resolution of the phone?">
            </div>
            <div class="mb-3">
                <label asp-for="CPU" class="form-label">Processor</label>
                <input asp-for="CPU" class="form-control" id="formGroupExampleInput2" placeholder="What is the processor of the phone?">
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="form-label">Url</label>
                <input asp-for="Url" class="form-control" id="formGroupExampleInput2" placeholder="Insert a picture of the phone.">
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Tell more about the phone"></textarea>
            </div>
            <input class="btn btn-primary " type="submit" value="Save" />
            <div class="form-group">
                <label asp-for="ModelId"></label>
                <select asp-for="ModelId" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    @foreach (var model in Model.)
                    <option selected>Open this select menu</option>
                    <option>@model.</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
           
        </form>
    </div>
</div>


